<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        Code Challenge
    </a>

    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" >
                <a class="nav-link" [routerLink]="['/books/flowers']" routerLinkActive="active" >Flower Books</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/books/history']" routerLinkActive="active">History Books</a>
            </li>
        </ul>
    </div>
</nav>