<div class="card mb-3" *ngIf="selectedBook">
    <div class="row">
        <div class="col-4">
            <div class="image__content">
                <img [src]="selectedBook.image" class="img-fluid" alt="Book Cover Image">
            </div>

        </div>
        <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">{{selectedBook.title}}</h5>
                <p class="author-text" *ngIf="selectedBook.authors">
                    by 
                    <span class="highlight" >
                        {{selectedBook.authors}}
                     
                    </span>
                </p>
                <p class="card-text" [class.text-muted]="selectedBook.subtitle==null">{{selectedBook.subtitle ?
                    selectedBook.subtitle : 'Empty Subtitle'}}</p>
            </div>
        </div>
    </div>
    <div class="row  mt-4 px-3">
        <h5 class="text-muted">Description</h5>
        <p class="text-muted">{{selectedBook.description ? selectedBook.description : 'Empty Description'}}</p>
    </div>
    <div class="card-footer bg-transparent bg-secondary text-center">
        <button class="btn btn-link" (click)="backprev()">Back To List</button>
    </div>
</div>